.footer {
  background-color: $bg-accent-color;
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $text-accent-color;
    margin-bottom: 20px;
  }
}

.address {
  font-style: normal;

  &__text {
    margin-bottom: 9px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-accent-color;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-ft-color;

    &--position {
      display: inline-block;
      margin-bottom: 9px;
    }
  }
}

.position {
  margin-left: 70px;
}
